<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survei Kepuasan Pelanggan HiddenGame</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>
<body>
    <h1>Survei Kepuasan Pelanggan HiddenGame</h1>
    <form action="/" method="post" onsubmit="return validateForm()">
        <label>Seberapa lengkapkah produk yang tersedia di HiddenGame? <span class="required-star">*</span></label><br>
        <input type="radio" name="produk_lengkap" value="1"> 1
        <input type="radio" name="produk_lengkap" value="2"> 2
        <input type="radio" name="produk_lengkap" value="3"> 3
        <input type="radio" name="produk_lengkap" value="4"> 4
        <input type="radio" name="produk_lengkap" value="5"> 5<br><br>

        <label>Seberapa sepadankah harga produk yang Anda beli dengan kualitasnya? <span class="required-star">*</span></label><br>
        <input type="radio" name="harga_kualitas" value="1"> 1
        <input type="radio" name="harga_kualitas" value="2"> 2
        <input type="radio" name="harga_kualitas" value="3"> 3
        <input type="radio" name="harga_kualitas" value="4"> 4
        <input type="radio" name="harga_kualitas" value="5"> 5<br><br>

        <label>Seberapa ramah dan membantu staf toko dalam melayani Anda? <span class="required-star">*</span></label><br>
        <input type="radio" name="staf_ramahan" value="1"> 1
        <input type="radio" name="staf_ramahan" value="2"> 2
        <input type="radio" name="staf_ramahan" value="3"> 3
        <input type="radio" name="staf_ramahan" value="4"> 4
        <input type="radio" name="staf_ramahan" value="5"> 5<br><br>

        <label>Seberapa mudahkah proses pembayaran di toko? <span class="required-star">*</span></label><br>
        <input type="radio" name="proses_pembayaran" value="1"> 1
        <input type="radio" name="proses_pembayaran" value="2"> 2
        <input type="radio" name="proses_pembayaran" value="3"> 3
        <input type="radio" name="proses_pembayaran" value="4"> 4
        <input type="radio" name="proses_pembayaran" value="5"> 5<br><br>

        <label>Seberapa cepatkah produk yang Anda beli diproses dan dikirim? <span class="required-star">*</span></label><br>
        <input type="radio" name="kecepatan_pengiriman" value="1"> 1
        <input type="radio" name="kecepatan_pengiriman" value="2"> 2
        <input type="radio" name="kecepatan_pengiriman" value="3"> 3
        <input type="radio" name="kecepatan_pengiriman" value="4"> 4
        <input type="radio" name="kecepatan_pengiriman" value="5"> 5<br><br>

        <label>Secara keseluruhan, seberapa puas Anda dengan pengalaman berbelanja di HiddenGame? <span class="required-star">*</span></label><br>
        <input type="radio" name="kepuasan_keseluruhan" value="1"> 1
        <input type="radio" name="kepuasan_keseluruhan" value="2"> 2
        <input type="radio" name="kepuasan_keseluruhan" value="3"> 3
        <input type="radio" name="kepuasan_keseluruhan" value="4"> 4
        <input type="radio" name="kepuasan_keseluruhan" value="5"> 5<br><br>

        <label>Apakah Anda akan merekomendasikan HiddenGame kepada orang lain? <span class="required-star">*</span></label><br>
        <input type="radio" name="rekomendasi" value="1"> 1
        <input type="radio" name="rekomendasi" value="2"> 2
        <input type="radio" name="rekomendasi" value="3"> 3
        <input type="radio" name="rekomendasi" value="4"> 4
        <input type="radio" name="rekomendasi" value="5"> 5<br><br>

        <label>Apakah Anda akan berbelanja kembali di HiddenGame di masa depan? <span class="required-star">*</span></label><br>
        <input type="radio" name="berbelanja_kembali" value="1"> 1
        <input type="radio" name="berbelanja_kembali" value="2"> 2
        <input type="radio" name="berbelanja_kembali" value="3"> 3
        <input type="radio" name="berbelanja_kembali" value="4"> 4
        <input type="radio" name="berbelanja_kembali" value="5"> 5<br><br>

        <label>Komentar:</label><br>
        <textarea name="komentar" rows="4" cols="50"></textarea><br><br>

        <input type="submit" value="Kirim">
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
